// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#infinite-scrolling {
  display: none;
}

.table > tbody > tr > td {
  padding: 1.25em;
}

#load-more {
  margin-bottom: 1.25em;
}